canvas {
    border: 1px solid black;
    height: 100%;
  }
  
  .chart-container {
    position: relative;
    width: 85vh; 
    height: 13cmpx;
    margin: 7px;
    margin-top: 80px;
  }
  
  .background-container {
    display: flex;
    margin-top: 10px;
  }
  
  .cards-container {
    display: flex;
    flex-direction: row; /* Display cards in a row */
    margin-left:10px; /* Add some margin to separate the chart and cards */
  }
  
  .card {
    flex: 1; /* Distribute available width equally among cards */
    max-width: calc(25% - 20px); /* Set maximum width for each card (25% - margin) */
    /* Add margin between the cards */
    background-color: rgb(19, 153, 242);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 10px
  }

  .card1{
    flex: 1; /* Distribute available width equally among cards */
     max-width: calc(25% - 20px); /*Set maximum width for each card (25% - margin) */
     /* Add margin between the cards */
    background-color: rgb(130, 26, 221);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px
  }
  
  .card2{
    flex: 1; /* Distribute available width equally among cards */
    max-width: calc(25% - 20px); /*Set maximum width for each card (25% - margin) */
    /* Add margin between the cards */
   background-color: rgb(236, 57, 57);
   border-radius: 15px;
   margin: 10px;
   box-shadow: 5px 5px 5px #939393;
   display: flex;
   align-items: center;
   text-align: center;
   padding: 10px
  }
  
  .card3{
    flex: 1; /* Distribute available width equally among cards */
     max-width: calc(25% - 20px); /*Set maximum width for each card (25% - margin) */
     /* Add margin between the cards */
    background-color: rgb(36, 221, 64);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px
  }
  

  .tables{
    width: 100%;
    margin-top: 50px;
    overflow-y: scroll;scrollbar-width: none; height: 8.8cm;-ms-overflow-style: none;
    border: 1px;border-color: black;
  }
  .left{
    display: flex;
    flex-direction: column;
    
  }

  